.label{
    border-radius:3px;
    color:#fff;
    display:inline-block;
    font-size:0.8em;
    line-height:1.2em;
    padding:2px 6px 0;
}
.label-success {
    background-color:#00A400;
    
}
.label-failed {
    background-color:#F13100;
}

table.dataTable{
    border-top:1px solid #ddd;
}
table.dataTable tr th,
table.dataTable tr td {
    font-size:0.9em;
}

table.dataTable tr th{
    text-align:left;
    vertical-align: bottom;
}