<mat-toolbar-row class="dashboard-toolbar">
    <button mat-icon-button [matMenuTriggerFor]="bizMenu" aria-label="Language menu" class="business-name">
        <span class="badge">BN</span> 
        <span>Business Name</span> 
        <span class="nav-spacer"></span>
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #bizMenu="matMenu">
        <button mat-menu-item>
            <span>Other Business</span>
        </button>
    </mat-menu>
    
    <span class="toolbar-time">May 18, 2021 15:42</span>
    <span class="nav-spacer"></span>

    <span class="toolbar-item go-live">
        <mat-slide-toggle>Go Live</mat-slide-toggle>
    </span>

    <span class="toolbar-item">
        <button mat-icon-button [matMenuTriggerFor]="langMenu" aria-label="Language menu">
            <span>ENG</span> <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
            <button mat-menu-item>FRA</button>
            <button mat-menu-item>SWA</button>
        </mat-menu>
    </span>

    <span class="toolbar-item tool-notify">
        <button mat-icon-button aria-label="Notification button">
            <mat-icon>notifications</mat-icon>
        </button>
    </span>

    <span class="toolbar-item">
        <button mat-button [matMenuTriggerFor]="accountMenu">
            <span>Edward Maina</span> <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
            <button mat-menu-item>My Account</button>
            <button mat-menu-item>Sign Out</button>
        </mat-menu>
    </span>
</mat-toolbar-row>

<mat-sidenav-container class="dashboard-container">
    <mat-sidenav #sidenav mode="side" opened class="dashboard-sidebar">
        <div class="get-started">
            <mat-icon>speed</mat-icon> Get started
        </div>

        <div class="tree-label">MY BUSINESS</div>

        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="menu-tree">

            <!-- Leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <mat-icon *ngIf="node.icon">{{node.icon}}</mat-icon> {{node.name}}
            </mat-tree-node>

            <!-- Expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <div class="mat-tree-node">
                    <mat-icon *ngIf="node.icon">{{node.icon}}</mat-icon> 
                    {{node.name}}
                    <button mat-icon-button matTreeNodeToggle>
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                </div>

                <div [class.menu-tree-invisible]="!treeControl.isExpanded(node)"
                    class="mat-subtree" role="group">
                    <ng-container matTreeNodeOutlet></ng-container>
                </div>
            </mat-nested-tree-node>
        </mat-tree>
    </mat-sidenav>

    <mat-sidenav-content class="dashboard-content">
        <mat-grid-list cols="12">
            <mat-grid-tile colspan="5">
                <h1>Payment Methods Dashboard</h1>
            </mat-grid-tile>

            <mat-grid-tile colspan="3">
                <span>Select Payment Method</span>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <span>From</span>
            </mat-grid-tile>

            <mat-grid-tile colspan="2">
                <span>To</span>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="4" class="summary-grid">
            <mat-grid-tile>
                <mat-card class="summary-card card-payment">
                    <mat-card-subtitle>
                        <mat-icon>pie_chart</mat-icon> Total Payment Request
                    </mat-card-subtitle>
                    <mat-card-content>1,000</mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="summary-card card-charge">
                    <mat-card-subtitle>
                        <mat-icon>pending_actions</mat-icon> Total Charge Requests
                    </mat-card-subtitle>
                    <mat-card-content>1,000</mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="summary-card card-acceptance">
                    <mat-card-subtitle>
                        <mat-icon>verified</mat-icon> Acceptance Rate
                    </mat-card-subtitle>
                    <mat-card-content>10%</mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card class="summary-card card-success">
                    <mat-card-subtitle>
                        <mat-icon>pending_actions</mat-icon> Success Rate
                    </mat-card-subtitle>
                    <mat-card-content>20</mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-card class="graph-card">
            <mat-card-title>Acceptance Rate Trend</mat-card-title>
            <mat-card-content>
                GRAPH
            </mat-card-content>
        </mat-card>

        <mat-card class="graph-card">
            <mat-card-title>Success Rate Trend</mat-card-title>
            <mat-card-content>
                GRAPH
            </mat-card-content>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>